</div>
</main>
<footer class="page-footer  light-blue darken-4">
    <div class="footer-copyright">
      <div class="container">
      © 2017 grey
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/client.js"></script>
</body>
</html>